@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* global */
  body {
    font-family: "Public Sans", sans-serif;
    list-style-position: inside;
  }
  p {
    margin: 0%;
  }
  a {
    color: blue;
    text-decoration: none;
    font-weight: 700;
  }
  ul, li::marker {
    content: "✦";
    padding: 0;
    margin: 0;
    display: inline-block;
  }
  li {
    padding-top: 1%;
    padding-bottom: 1%;
  }
  h1,h2 {
    margin: 0%;
    margin-bottom: 0.2em;
  }
  details {
    display: inline-block;
    cursor: pointer;
  }
  details summary > * {
    display: inline;
    padding: 10px 10px 10px 5px;
    border-radius: 5px;
  }
  summary::marker {
    font-size: 1.5em;
    font-weight: 700;
    content: "+";
  }
  details[open] summary::marker {
    content: "−";
    font-weight: 700;
  }
  details ul {
    margin-left: 10px;
  }
  details li::marker {
    content: "⬥";
  }

/* navigation bar */
  .topnav {
    overflow: hidden;
  }
  .topnav a {
    font-size: x-large;
    font-weight: 700;
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .topnav a.split {
    float: right;
  }
  .topnav a.current {
    text-decoration: underline;
    text-decoration-thickness: 15%;
  }

/* content */
  div.content {
    width: 60%;
    max-width: 1080px;
    margin: auto;
  }

/* mobile */
  @media screen and (max-width: 500px) {
    .topnav a {
      font-size: larger;
      display: inline-block;
    }
    body {
      margin: 0%;
    }
  }